.inp-style{
    margin-bottom: 5px;
}

.label-style{
    font-style: bold;
    font-size: 18px;
}

.intro-section{
    /* background-color:teal !important; */
    background-image: url('../../images/2.png'); 
    height: 640px;
}

.intro-section h1{
    font-family: 'Acme', sans-serif;
}

.intro-section p{
    font-family: 'Acme', sans-serif;
}

.banner-header{
    color: whitesmoke;
}

.sports-card-style{
    border-radius: 10px;
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    border: 1px solid #c9c9c9;
    margin: 10px;
}

.cricle-img-style{
    top: 0;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
    color: #f2f2f2;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: relative;
    border-radius: 50% !important;
}

.checked {
    color: orange;
}

.testimonial-sections{
    font-family: 'Acme', sans-serif;
}

.cricket-tour-section{
    font-family: 'Acme', sans-serif;
}