
.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap{
  flex:1;
}

.btn-style{
  margin: 3px 3px 3px 3px;
  padding-left: 5px;
  padding-right: 5px;
}

.btn-center{
  display:flex !important;
  justify-content:center !important;
  text-align : center !important;
}