.card {
    padding: 30px;
    border: solid 1px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    text-align: center;
}
.card:hover {
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.08);
}
.card-title {
    margin-top: 20px;
    text-align: center;
}
.card-text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}
.card-text .fa {
    font-size: 26px;
}
.avatar {
    width: 160px;
    margin: auto;
}
.avatar img {
    border: solid 6px transparent;
    border-radius: 50%;
}
.card:hover .avatar img {
    border-color: rgb(99, 204, 131);
}

.cricket-tour-modal-body{
    font-family: 'Acme', sans-serif;
}

.cricket-tour-modal-body div{
    padding-bottom: 10px;
}

.cricket-tour-modal-body p{
    padding-left: 15px;
    font-size: large;
}